body,
html,
button {
    background-color: rgb(223, 219, 219);
}



h1 {
    font-family: 'Fascinate Inline', cursive;
    font-size: 72px;
    color: black;
}

p, 
.table,
.card-body{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.jumbotron {
    background-color: rgb(177, 68, 68);
}

thead {
    background-color: rgb(124, 39, 39);
    color: rgb(223, 219, 219);
}

.card-body {
    background-color: rgb(177, 68, 68)
}

#add-train-button {
    background-color: black;
}




