body,
html {
    background-color: rgb(223, 219, 219);
}



h1 {
    font-family: 'Fascinate Inline', cursive;
    font-size: 72px;
    color: black;
}

p, 
.table,
.card-body{
    font-family: 'Playfair Display', serif;
}

.jumbotron,
thead {
    background-color: rgb(177, 68, 68);
}

button {
    color: rgb(33, 141, 130);
}


